<%= form_with(models: @gyms) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>
  <div class="field">
    <%= form.submit "送信" %>
  </div>
<% end %>
